html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%; /* Browsers implement 16px be default */
}

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Libre+Baskerville:400,700); */

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);*/
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|EB+Garamond); */



/** LAYOUT **/
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  background:url("../img/temp_bkgrnd.jpg") no-repeat top center;
  margin-bottom: 1em;
}
.site-body-column {
  /*border: 1px solid #f00;*/
  max-width: 1000px;
  margin: 2em auto;
}
.site-body-intro {
  margin: 8.5em auto 2em;
}
@media (max-width: 767px ) {
  .site-body-intro {
    margin-top: 5em;
  }
}

.site-body-author-bio {
  background-color: #002e62;
  padding: 0 2em 1em;
}
.author-pic-img {
  width: 40%;
  max-width: 260px;
  margin: 0 0 1em 1em;
}
.author-bio {
  color: #fff;
}




/** GENERIC **/
h1, h2 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: #002e62;
  /*font-weight: bold;*/
  font-weight: normal;
  font-family: 'Libre Baskerville','Arial',serif;
}
h2 {
  margin: 0 0 1em;
}
@media (max-width: 767px ) {
  h1 {font-size: 30px;}
  h2 {font-size: 24px;}
}


.author-bio h1 {
  color: #fff;
}





/** CONTENT SPECIFIC **/
.book-cover img {
  width: 100%;
  margin-bottom: 1em;
}

.book-title {
  margin-top: 1em;
}
@media (max-width: 767px ) {
  .book-title {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .book-chapter-list ul {
    -ms-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.dl-order-form {
  text-align: center;
}


@media (max-width: 767px) {

}
