html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%; /* Browsers implement 16px be default */
}

body::before {
  /*
  never visible - this is used in jQuery to check the current MQ
  var MQ = window.getComputedStyle(document.querySelector('body'), '::before').getPropertyValue('content').replace(/"/g, "");
   */
  content: 'mobile';
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'tablet';
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Libre+Baskerville:400,700); */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);*/
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|EB+Garamond); */


/* Clearfix modern */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}



/** LAYOUT **/
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  background:url("../img/bkgrnd.jpg") no-repeat top center;
  margin-bottom: 1em;
}
.browsehappy {
  /* max-width: 1000px; */
  text-align: center;
  padding: 1em;
  background-color: #fef8b4;
  border-bottom: 1px dashed #333;
  position: absolute;
  top: 0;
  width: 100%;
}
.site-body-column {
  /*border: 1px solid #f00;*/
  max-width: 1000px;
  margin: 0em auto;  
}


.site-body-intro {
  margin: 8.5em auto 2em;
}
@media (max-width: 767px ) {
  .site-body-intro {
    margin-top: 5em;
  }
}

.gallery-wrap {
  background-color: #f4f3f3;
}
.site-body-gallery {
  margin-top: 3em;
  padding: 1em 2em;
}
  .my-gallery figure {
    /* float:left; */
    margin: 0 0 2em;
    text-align: center;
  }
  .my-gallery figure img {
    display: block;
    margin: 0 auto;
  }
  .my-gallery figcaption {
    margin: 0.5em auto 1em;
  }
  /* desktop */
  @media (min-width: 992px ) {

  }
  @media (max-width: 767px) and (orientation: portrait) {
    .my-gallery figure img {
      width: 90%;
    }
  }

.media-wrap {
  background-color: #e7e7e7;
}
.site-body-media {
  padding: 1em 2em 2em;
}

.quotes-wrap {
  /* background-color: #e7e7e7; */
  background-color: #d1d0d0
}
.site-body-quotes {
  /* margin-top: 3em; */
  padding: 1em 2em 0;
}


.author-wrap {
  background-color: #002e62;
}
.site-body-author-bio {
  background-color: #002e62;
  padding: 0 2em 1em;
}





/** GENERIC **/
h1, h2, .h2 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: #002e62;
  /*font-weight: bold;*/
  font-weight: normal;
  font-family: 'Libre Baskerville','Arial',serif;
}
h2, .h2 {
  margin: 0 0 1em;
}
@media (max-width: 767px ) {
  h1 {font-size: 30px;line-height: 36px;}
  h2, .h2 {font-size: 24px;}
}







/** CONTENT SPECIFIC **/
.book-cover img {
  width: 100%;
  margin-bottom: 1em;
}
.book-title {
  margin-top: 1em;
}
@media (max-width: 767px ) {
  .book-title {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-chapter-list ul {
    -ms-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.dl-order-form {
  text-align: center;
}



/* Quotes */
.cbp-qtrotator {
  position: relative;
  min-height: 400px;
}
.site-body-quotes blockquote {
  border: 0;
  font-size: 2em;
}
@media (max-width: 991px ) {
  .site-body-quotes blockquote {
    font-size: 1.25em;
  }
}
.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    min-height: 200px;
    padding: 2.3em 3em 3em;
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
}
@media (max-width: 991px ) {
  .cbp-qtrotator .cbp-qtcontent {
    padding: 1em 0em;
  }
}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
    position: relative; 
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}


.author-pic-img {
  width: 40%;
  max-width: 260px;
  margin: 0 0 1em 1em;
  float: right;
}
.author-bio {
  color: #fff;
}
.author-bio h1 {
  color: #fff;
}






@media (max-width: 767px) {

}


body .pswp__caption__center {
  text-align: center;

}